.chat-main
  .header
    .header__group
      %h2.header__group__name 
        = @group.name
      %p.header__group__member 
        - @group.users.each do |user|
          = user.name
    %p.header__group-edit
      = link_to 'Edit', edit_group_path(@group) 


  .message
    = render @messages
    -# .message__left
    -#   .message__left__name
    -#     name
    -#   .message__left__date
    -#     2020/02/17(Mon) 9:00:00
    -# .message__comment  
    -#   comment...


  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'