.side-bar
  .header
    %h3.header__name
      = current_user.name
    %ul.header__lists
      %li.list
        = link_to do
          = icon('fas', 'pen-square', class: 'icon')
      %li.list
        = link_to edit_user_path(current_user) do
          = icon('fas', 'cog', class: 'icon')
        
  .group-list
    = link_to "#", class:"group-list" do
      %p.group-list__name
        TECHCAMP
      %p.group-list__message
        まだメッセージはありません